# Information Extraction

#### Developed By: Manaranjan Pradhan
#### www.manaranjanp.com

*This Jupyter notebook is confidential and proprietary to Manaranjan Pradhan. It is intended solely for authorized training purposes. Unauthorized distribution, sharing, or reproduction of this notebook or its contents is strictly prohibited. This material is for personal learning within the training program only and may not be used for commercial purposes or shared with others. Unauthorized use may result in disciplinary action or legal consequences. If you have received this notebook without authorization, please contact manaranjan@gmail.com immediately and delete all copies.*

In [1]:
!pip install -q langchain openai langchain_openai langchain_openai langchain_groq

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.3/55.3 kB 1.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.9/121.9 kB 3.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 25.4 MB/s eta 0:00:00

[Source: Washington Post](https://www.washingtonpost.com/climate-environment/2023/04/11/electric-vehicle-buying-guide/)

## Accesing the Page Content

In [3]:
from bs4 import BeautifulSoup

with open("/content/zigwheels.html") as fp:
    soup = BeautifulSoup(fp, 'html.parser')

In [4]:
text = soup.get_text()

In [9]:
print(text[500:1000])

All Car Brands



Popular Car Models

 Best Cars in India »
 Maruti Grand Vitara
 Renault Kiger
 Skoda Slavia
 Tata Punch
 Hyundai Exter
 Maruti FRONX
 Maruti Swift
 Jeep Wrangler
 Jeep Compass
 Mahindra Thar
 Volkswagen Tiguan
 Mahindra Scorpio N
 Toyota Innova Hycross



Cars By Budget

Cars Under 5 Lakhs
Cars Under 8 Lakhs
Cars Under 10 Lakhs
Cars Under 15 Lakhs
Cars Under 20 Lakhs


Upcoming Cars
New Launches
Luxury Cars
Compare Cars
Car Dealers

CarDekho Services

Car Service History
Vahan

In [10]:
beginning = 'Popular Electric Cars in India'
ending = "Key Highlights of Electric Cars"
final_text = text[text.index(beginning):text.index(ending)]
final_text = final_text.replace("\n", "\t")

In [11]:
print(final_text)

Popular Electric Cars in India							3.6	|  119 reviews						Tata Nexon EV		Rs. 14.49 Lakh		 465 km range ● 4 hour 20 min charging time ● 150 kmph	View March Offers	Check On-Road Price »									4.3	|  59 reviews						Tata Punch EV		Rs. 10.98 Lakh		 421 km range ● 56 min charging time ● 60kW	View March Offers	Check On-Road Price »									4.6	|  215 reviews						Tata Tiago EV		Rs. 7.99 Lakh		 315 km range ● 58 min charging time ● 45kW	View March Offers	Check On-Road Price »									4.1	|  63 reviews						Kia EV6		Rs. 60.95 Lakh		 708 km range ● 18 min charging time ● 192 kmph	View March Offers	Check On-Road Price »									3.7	|  139 reviews						MG Comet EV		Rs. 6.98 Lakh		 230 km range ● 3 hour 18 min charging time ● 41kW	View March Offers	Check On-Road Price »									5	|  read reviews						BYD Seal		Rs. 41.00 Lakh		 650 km range	View March Offers	Check On-Road Price »									5	|  43 reviews						BMW i7		Rs. 2.13 Crore		 625 km range ● 250 kmph ● 400kW	View March Offers	Check On-Road Price »									4.4	|  123 reviews						Mahindra XUV400 EV		Rs. 15.49 Lakh		 456 km range ● 6 hour 30 min charging time ● 150 kmph	View March Offers	Check On-Road Price »									4.2	|  106 reviews						MG ZS EV		Rs. 18.98 Lakh		 461 km range ● 9 hour charging time ● 175 kmph	View March Offers	Check On-Road Price »									4	|  51 reviews						Hyundai Kona Electric		Rs. 23.84 Lakh		 452 km range ● 19 hour charging time ● 100kW	View March Offers	Check On-Road Price »									4.4	|  53 reviews						BMW iX		Rs. 1.21 Crore		 425 km range ● 7 hour 15 min charging time ● 200 kmph	View March Offers	Check On-Road Price »												Rolls-Royce Spectre		Rs. 7.50 Crore		 530 km range	View March Offers	Check On-Road Price »									4.6	|  102 reviews						Tata Tigor EV		Rs. 12.49 Lakh		 315 km range ● 59 min charging time ● 55kW	View March Offers	Check On-Road Price »									3.9	|  67 reviews						BYD Atto 3		Rs. 33.99 Lakh		 521 km range ● 9 hour 30 min charging time ● 150kW	View March Offers	Check On-Road Price »									4.1	|  54 reviews						BMW i4		Rs. 72.50 Lakh		 590 km range ● 31 min charging time ● 190 kmph	View March Offers	Check On-Road Price »									4.6	|  70 reviews						BYD E6		Rs. 29.15 Lakh		 520 km range ● 12 hour charging time ● 130 kmph	View March Offers	Check On-Road Price »									4.4	|  78 reviews						Citroen eC3		Rs. 11.61 Lakh		 320 km range ● 107 kmph ● 41kW	View March Offers	Check On-Road Price »									4	|  40 reviews						Audi e-tron		Rs. 1.02 Crore		 484 km range ● 30 min charging time ● 200 kmph	View March Offers	Check On-Road Price »									4.7	|  40 reviews						Mercedes-Benz EQS		Rs. 1.62 Crore		 857 km range ● 210 kmph	Contact Dealer	Check On-Road Price »									3	|  read reviews						Lotus Eletre		Rs. 2.55 Crore		 600 km range ● 265 kmph ● 450kW	View March Offers	Check On-Road Price »									4.8	|  read reviews						Porsche Taycan		Rs. 1.60 Crore		 452 km range ● 8 hour charging time ● 240 kmph	View March Offers	Check On-Road Price »									3	|  17 reviews						PMV EaS E		Rs. 4.79 Lakh		 160 km range ● 70 kmph	View March Offers	Check On-Road Price »									4.8	|  53 reviews						Mercedes-Benz EQB		Rs. 74.50 Lakh		 423 km range ● 160 kmph	Contact Dealer	Check On-Road Price »									4.2	|  38 reviews						Jaguar I-Pace		Rs. 1.25 Crore		 470 km range ● 8 hour 30 min charging time ● 200 kmph	View March Offers	Check On-Road Price »									4.8	|  43 reviews						Audi e-tron GT		Rs. 1.71 Crore		 500 km range ● 9 hour 30 min charging time ● 250 kmph	View March Offers	Check On-Road Price »									4	|  46 reviews						Volvo XC40 Recharge		Rs. 54.95 Lakh		 592 km range ● 28 min charging time ● 180 kmph	View March Offers	Check On-Road Price »									4.7	|  19 reviews						Strom Motors R3		Rs. 4.50 Lakh		 200 km range ● 3 hour charging time ● 80 kmph	View March Offers	Check On-Road Price »									5	|  read reviews						Audi RS e-tron GT		Rs. 1.95 Crore		 481 km range ● 9 hour 30 min charging time ● 200 kmph	View March Offers	Check On-Road Price »									2.6	|  39 reviews						Mini Cooper SE		Rs. 53.50 Lakh		 270 km range ● 2 hour 30 min charging time ● 150 kmph	View March Offers	Check On-Road Price »									4.6	|  64 reviews						Hyundai IONIQ 5		Rs. 45.95 Lakh		 631 km range ● 6 hour 55 min charging time ● 160kW	View March Offers	Check On-Road Price »									5	|  read reviews						BMW iX1		Rs. 66.90 Lakh		 440 km range ● 6 hour 30 min charging time ● 180 kmph	View March Offers	Check On-Road Price »									4.7	|  read reviews						Volvo C40 Recharge		Rs. 62.95 Lakh		 530 km range ● 27 min charging time ● 180 kmph	View March Offers	Check On-Road Price »												Mercedes-Benz EQE SUV		Rs. 1.39 Crore		 550 km range ● 210 kmph ● 402kW	View March Offers	Check On-Road Price »												Audi Q8 e-tron		Rs. 1.14 Crore		 582 km range ● 200 kmph ● 335kW	View March Offers	Check On-Road Price »									4	|  read reviews						Pravaig DEFY		Rs. 39.50 Lakh		 500 km range ● 210 kmph ● 300kW	View March Offers	Check On-Road Price »												Mercedes-Benz AMG EQS		Rs. 2.45 Crore		 580 km range ● 250 kmph	View March Offers	Check On-Road Price »												Audi Q8 Sportback e-tron		Rs. 1.19 Crore		 600 km range ● 190 kmph ● 335kW	View March Offers	Check On-Road Price »												Porsche Macan EV		Rs. 1.65 Crore		 	View March Offers	Check On-Road Price »						View More Cars 							Electric Cars by Budget	Range	Charging Time								Under 10 Lakh	Under 15 Lakh	Under 20 Lakh	Under 40 Lakh	Above 40 Lakh							200 km Range	300 km Range	400 km Range	500 km Range	Long Range							Fast Charging	Under 8 Hours	Slow Charging							Electric Car by Brand						Tata						Kia						Hyundai						Mahindra						Mercedes Benz						MG Motor						Audi						BMW						Jaguar						Volvo						Porsche						Citroen					All Car Brands

In [12]:
len(final_text)

5818

### Storing the page content in file

In [13]:
with open("ev_article.txt", "w") as f:
    f.write(final_text)

### Libararies or components used.

- OpenAI (https://platform.openai.com/)
- LangChain (https://langchain.com/)

## Configuring LLM for Query

In [14]:
import os
import openai
from getpass import getpass
from pprint import pprint

In [15]:
#os.environ['OPENAI_API_KEY'] = getpass('OPENAI_API_KEY')
os.environ["GROQ_API_KEY"] = getpass("Enter your Groq API key: ")

Enter your Groq API key: ··········

In [ ]:
#openai.api_key  = os.getenv('OPENAI_API_KEY')

### Initializing the OpenAI Chat Model

In [16]:
from langchain_openai import ChatOpenAI
from langchain.chains import create_extraction_chain, create_extraction_chain_pydantic
from langchain.prompts import ChatPromptTemplate
from langchain_groq import ChatGroq

In [17]:
from langchain.chains.conversation.memory import ConversationBufferWindowMemory
from langchain.chains import RetrievalQA

# chat completion llm
#llm = ChatOpenAI(
#    model_name='gpt-4o-2024-11-20',
#    temperature=0.0
#)

llm = ChatGroq(
    model="llama-3.3-70b-versatile",
    temperature=0,
    max_tokens=2048,
)

### Configuring the Retrieval QA Chain

https://json-schema.org/understanding-json-schema/

In [18]:
schema = {
  'type': 'function',
  'function': {
    'name': 'CarListResponse',
    'description': '',
    'parameters': {
      'properties': {
        'cars': {
          'description': 'List of EV car details including model name, price, and range',
          'items': {
            'properties': {
              'car_model': {
                'description': 'The name of the EV model',
                'type': 'string'
              },
              'price': {
                'description': 'Price of the model in lakhs (Indian Rupees)',
                'type': 'string'
              },
              'range_kms': {
                'anyOf': [
                  {
                    'type': 'integer'
                  },
                  {
                    'type': 'null'
                  }
                ],
                'description': 'Kilometers it would travel after a single full charge'
              }
            },
            'required': [
              'car_model',
              'price',
              'range_kms'
            ],
            'type': 'object'
          },
          'type': 'array'
        }
      },
      'required': [
        'cars'
      ],
      'type': 'object'
    }
  }
}

### Configurating Conversational Memory

In [19]:
#chain = create_extraction_chain(schema, llm)
structured_llm = llm.with_structured_output(schema)

## Asking Questions

In [20]:
response = structured_llm.invoke(final_text)

In [21]:
print(response)

{'cars': [{'car_model': 'Tata Nexon EV', 'price': '14.49 Lakh', 'range_kms': 465}, {'car_model': 'Tata Punch EV', 'price': '10.98 Lakh', 'range_kms': 421}, {'car_model': 'Tata Tiago EV', 'price': '7.99 Lakh', 'range_kms': 315}, {'car_model': 'Kia EV6', 'price': '60.95 Lakh', 'range_kms': 708}, {'car_model': 'MG Comet EV', 'price': '6.98 Lakh', 'range_kms': 230}, {'car_model': 'BYD Seal', 'price': '41.00 Lakh', 'range_kms': 650}, {'car_model': 'BMW i7', 'price': '2.13 Crore', 'range_kms': 625}, {'car_model': 'Mahindra XUV400 EV', 'price': '15.49 Lakh', 'range_kms': 456}, {'car_model': 'MG ZS EV', 'price': '18.98 Lakh', 'range_kms': 461}, {'car_model': 'Hyundai Kona Electric', 'price': '23.84 Lakh', 'range_kms': 452}, {'car_model': 'BMW iX', 'price': '1.21 Crore', 'range_kms': 425}, {'car_model': 'Rolls-Royce Spectre', 'price': '7.50 Crore', 'range_kms': 530}, {'car_model': 'Tata Tigor EV', 'price': '12.49 Lakh', 'range_kms': 315}, {'car_model': 'BYD Atto 3', 'price': '33.99 Lakh', 'range_kms': 521}, {'car_model': 'BMW i4', 'price': '72.50 Lakh', 'range_kms': 590}, {'car_model': 'BYD E6', 'price': '29.15 Lakh', 'range_kms': 520}, {'car_model': 'Citroen eC3', 'price': '11.61 Lakh', 'range_kms': 320}, {'car_model': 'Audi e-tron', 'price': '1.02 Crore', 'range_kms': 484}, {'car_model': 'Mercedes-Benz EQS', 'price': '1.62 Crore', 'range_kms': 857}, {'car_model': 'Lotus Eletre', 'price': '2.55 Crore', 'range_kms': 600}, {'car_model': 'Porsche Taycan', 'price': '1.60 Crore', 'range_kms': 452}, {'car_model': 'PMV EaS E', 'price': '4.79 Lakh', 'range_kms': 160}, {'car_model': 'Mercedes-Benz EQB', 'price': '74.50 Lakh', 'range_kms': 423}, {'car_model': 'Jaguar I-Pace', 'price': '1.25 Crore', 'range_kms': 470}, {'car_model': 'Audi e-tron GT', 'price': '1.71 Crore', 'range_kms': 500}, {'car_model': 'Volvo XC40 Recharge', 'price': '54.95 Lakh', 'range_kms': 592}, {'car_model': 'Strom Motors R3', 'price': '4.50 Lakh', 'range_kms': 200}, {'car_model': 'Audi RS e-tron GT', 'price': '1.95 Crore', 'range_kms': 481}, {'car_model': 'Mini Cooper SE', 'price': '53.50 Lakh', 'range_kms': 270}, {'car_model': 'Hyundai IONIQ 5', 'price': '45.95 Lakh', 'range_kms': 631}, {'car_model': 'BMW iX1', 'price': '66.90 Lakh', 'range_kms': 440}, {'car_model': 'Volvo C40 Recharge', 'price': '62.95 Lakh', 'range_kms': 530}, {'car_model': 'Mercedes-Benz EQE SUV', 'price': '1.39 Crore', 'range_kms': 550}, {'car_model': 'Audi Q8 e-tron', 'price': '1.14 Crore', 'range_kms': 582}, {'car_model': 'Pravaig DEFY', 'price': '39.50 Lakh', 'range_kms': 500}, {'car_model': 'Mercedes-Benz AMG EQS', 'price': '2.45 Crore', 'range_kms': 580}, {'car_model': 'Audi Q8 Sportback e-tron', 'price': '1.19 Crore', 'range_kms': 600}, {'car_model': 'Porsche Macan EV', 'price': '1.65 Crore', 'range_kms': None}]}

### To buy or to wait

In [22]:
import pandas as pd
import json

In [23]:
ev_df = pd.DataFrame(response['cars'])

In [24]:
ev_df

                   car_model       price  range_kms
0              Tata Nexon EV  14.49 Lakh      465.0
1              Tata Punch EV  10.98 Lakh      421.0
2              Tata Tiago EV   7.99 Lakh      315.0
3                    Kia EV6  60.95 Lakh      708.0
4                MG Comet EV   6.98 Lakh      230.0
5                   BYD Seal  41.00 Lakh      650.0
6                     BMW i7  2.13 Crore      625.0
7         Mahindra XUV400 EV  15.49 Lakh      456.0
8                   MG ZS EV  18.98 Lakh      461.0
9      Hyundai Kona Electric  23.84 Lakh      452.0
10                    BMW iX  1.21 Crore      425.0
11       Rolls-Royce Spectre  7.50 Crore      530.0
12             Tata Tigor EV  12.49 Lakh      315.0
13                BYD Atto 3  33.99 Lakh      521.0
14                    BMW i4  72.50 Lakh      590.0
15                    BYD E6  29.15 Lakh      520.0
16               Citroen eC3  11.61 Lakh      320.0
17               Audi e-tron  1.02 Crore      484.0
18         Mercedes-Benz EQS  1.62 Crore      857.0
19              Lotus Eletre  2.55 Crore      600.0
20            Porsche Taycan  1.60 Crore      452.0
21                 PMV EaS E   4.79 Lakh      160.0
22         Mercedes-Benz EQB  74.50 Lakh      423.0
23             Jaguar I-Pace  1.25 Crore      470.0
24            Audi e-tron GT  1.71 Crore      500.0
25       Volvo XC40 Recharge  54.95 Lakh      592.0
26           Strom Motors R3   4.50 Lakh      200.0
27         Audi RS e-tron GT  1.95 Crore      481.0
28            Mini Cooper SE  53.50 Lakh      270.0
29           Hyundai IONIQ 5  45.95 Lakh      631.0
30                   BMW iX1  66.90 Lakh      440.0
31        Volvo C40 Recharge  62.95 Lakh      530.0
32     Mercedes-Benz EQE SUV  1.39 Crore      550.0
33            Audi Q8 e-tron  1.14 Crore      582.0
34              Pravaig DEFY  39.50 Lakh      500.0
35     Mercedes-Benz AMG EQS  2.45 Crore      580.0
36  Audi Q8 Sportback e-tron  1.19 Crore      600.0
37          Porsche Macan EV  1.65 Crore        NaN

In [25]:
ev_df.to_csv('ev_models.csv', index = False)

## Using Pydantic

https://docs.pydantic.dev/latest/

In [26]:
from typing import Optional, List
from pydantic import BaseModel, Field

In [27]:
from pydantic import BaseModel, Field, validator

class CarDetails(BaseModel):
    car_model: str = Field(description="The name of the EV model")
    price: str = Field(description="Price of the model in lakhs (Indian Rupees)")
    range_kms: Optional[int] = Field(description="Kilometers it would travel after a single full charge")

class CarListResponse(BaseModel):
    cars: List[CarDetails] = Field(description="List of EV car details including model name, price, and range")

In [28]:
structured_llm = llm.with_structured_output(CarListResponse)

In [29]:
response = structured_llm.invoke(final_text)

In [30]:
print(response.dict()['cars'])

[{'car_model': 'Tata Nexon EV', 'price': '14.49', 'range_kms': 465}, {'car_model': 'Tata Punch EV', 'price': '10.98', 'range_kms': 421}, {'car_model': 'Tata Tiago EV', 'price': '7.99', 'range_kms': 315}, {'car_model': 'Kia EV6', 'price': '60.95', 'range_kms': 708}, {'car_model': 'MG Comet EV', 'price': '6.98', 'range_kms': 230}, {'car_model': 'BYD Seal', 'price': '41.00', 'range_kms': 650}, {'car_model': 'BMW i7', 'price': '2.13', 'range_kms': 625}, {'car_model': 'Mahindra XUV400 EV', 'price': '15.49', 'range_kms': 456}, {'car_model': 'MG ZS EV', 'price': '18.98', 'range_kms': 461}, {'car_model': 'Hyundai Kona Electric', 'price': '23.84', 'range_kms': 452}, {'car_model': 'BMW iX', 'price': '1.21', 'range_kms': 425}, {'car_model': 'Rolls-Royce Spectre', 'price': '7.50', 'range_kms': 530}, {'car_model': 'Tata Tigor EV', 'price': '12.49', 'range_kms': 315}, {'car_model': 'BYD Atto 3', 'price': '33.99', 'range_kms': 521}, {'car_model': 'BMW i4', 'price': '72.50', 'range_kms': 590}, {'car_model': 'BYD E6', 'price': '29.15', 'range_kms': 520}, {'car_model': 'Citroen eC3', 'price': '11.61', 'range_kms': 320}, {'car_model': 'Audi e-tron', 'price': '1.02', 'range_kms': 484}, {'car_model': 'Mercedes-Benz EQS', 'price': '1.62', 'range_kms': 857}, {'car_model': 'Lotus Eletre', 'price': '2.55', 'range_kms': 600}, {'car_model': 'Porsche Taycan', 'price': '1.60', 'range_kms': 452}, {'car_model': 'PMV EaS E', 'price': '4.79', 'range_kms': 160}, {'car_model': 'Mercedes-Benz EQB', 'price': '74.50', 'range_kms': 423}, {'car_model': 'Jaguar I-Pace', 'price': '1.25', 'range_kms': 470}, {'car_model': 'Audi e-tron GT', 'price': '1.71', 'range_kms': 500}, {'car_model': 'Volvo XC40 Recharge', 'price': '54.95', 'range_kms': 592}, {'car_model': 'Strom Motors R3', 'price': '4.50', 'range_kms': 200}, {'car_model': 'Audi RS e-tron GT', 'price': '1.95', 'range_kms': 481}, {'car_model': 'Mini Cooper SE', 'price': '53.50', 'range_kms': 270}, {'car_model': 'Hyundai IONIQ 5', 'price': '45.95', 'range_kms': 631}, {'car_model': 'BMW iX1', 'price': '66.90', 'range_kms': 440}, {'car_model': 'Volvo C40 Recharge', 'price': '62.95', 'range_kms': 530}, {'car_model': 'Mercedes-Benz EQE SUV', 'price': '1.39', 'range_kms': 550}, {'car_model': 'Audi Q8 e-tron', 'price': '1.14', 'range_kms': 582}, {'car_model': 'Pravaig DEFY', 'price': '39.50', 'range_kms': 500}, {'car_model': 'Mercedes-Benz AMG EQS', 'price': '2.45', 'range_kms': 580}, {'car_model': 'Audi Q8 Sportback e-tron', 'price': '1.19', 'range_kms': 600}, {'car_model': 'Porsche Macan EV', 'price': '1.65', 'range_kms': None}]

<ipython-input-30-72d38f1110bc>:1: PydanticDeprecatedSince20: The `dict` method is deprecated; use `model_dump` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.10/migration/
  print(response.dict()['cars'])

In [31]:
structured_llm.to_json()

{'lc': 1,
 'type': 'constructor',
 'id': ['langchain', 'schema', 'runnable', 'RunnableSequence'],
 'kwargs': {'first': RunnableBinding(bound=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x7cc5598694d0>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x7cc55983ebd0>, model_name='llama-3.3-70b-versatile', temperature=1e-08, model_kwargs={}, groq_api_key=SecretStr('**********'), max_tokens=2048), kwargs={'tools': [{'type': 'function', 'function': {'name': 'CarListResponse', 'description': '', 'parameters': {'properties': {'cars': {'description': 'List of EV car details including model name, price, and range', 'items': {'properties': {'car_model': {'description': 'The name of the EV model', 'type': 'string'}, 'price': {'description': 'Price of the model in lakhs (Indian Rupees)', 'type': 'string'}, 'range_kms': {'anyOf': [{'type': 'integer'}, {'type': 'null'}], 'description': 'Kilometers it would travel after a single full charge'}}, 'required': ['car_model', 'price', 'range_kms'], 'type': 'object'}, 'type': 'array'}}, 'required': ['cars'], 'type': 'object'}}}], 'structured_output_format': {'kwargs': {'method': 'function_calling'}, 'schema': {'type': 'function', 'function': {'name': 'CarListResponse', 'description': '', 'parameters': {'properties': {'cars': {'description': 'List of EV car details including model name, price, and range', 'items': {'properties': {'car_model': {'description': 'The name of the EV model', 'type': 'string'}, 'price': {'description': 'Price of the model in lakhs (Indian Rupees)', 'type': 'string'}, 'range_kms': {'anyOf': [{'type': 'integer'}, {'type': 'null'}], 'description': 'Kilometers it would travel after a single full charge'}}, 'required': ['car_model', 'price', 'range_kms'], 'type': 'object'}, 'type': 'array'}}, 'required': ['cars'], 'type': 'object'}}}}, 'tool_choice': {'type': 'function', 'function': {'name': 'CarListResponse'}}}, config={}, config_factories=[]),
  'last': PydanticToolsParser(first_tool_only=True, tools=[<class '__main__.CarListResponse'>])},
 'name': 'RunnableSequence'}

In [32]:
pd.DataFrame(response.dict()['cars'])[0:10]

<ipython-input-32-8d14ed05dca6>:1: PydanticDeprecatedSince20: The `dict` method is deprecated; use `model_dump` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.10/migration/
  pd.DataFrame(response.dict()['cars'])[0:10]

               car_model  price  range_kms
0          Tata Nexon EV  14.49      465.0
1          Tata Punch EV  10.98      421.0
2          Tata Tiago EV   7.99      315.0
3                Kia EV6  60.95      708.0
4            MG Comet EV   6.98      230.0
5               BYD Seal  41.00      650.0
6                 BMW i7   2.13      625.0
7     Mahindra XUV400 EV  15.49      456.0
8               MG ZS EV  18.98      461.0
9  Hyundai Kona Electric  23.84      452.0